[package]
name = "Cowcord"
version = "0.0.1"
edition = "2024"

[dependencies]
dioxus = { version = "0.6.3", features = ["router", "fullstack"] }
web-sys = { version = "0.3.77", features = ["Window", "Element", "DomRect", "WebSocket", "MessageEvent", "BinaryType", "ErrorEvent", "CloseEvent", "console"]}

[features]
default = ["web"]
web = ["dioxus/web"]
desktop = ["dioxus/desktop"]
mobile = ["dioxus/mobile"]

[profile]

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"
